.page-heading {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

.blue-icons {
    color: #8e9aed;
}

.button-divider {
    color: #ddd;
}

.grid-display {
    margin-top: 10px;
}

.user-data-content {
    background: #f1f1f1;
}

.user-table-heading {
    font-size: 14px;
    display: inline-block;
}

.user-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

a {
    text-decoration: none !important;
}

.user-data-column-left {
    float: left;
    width: 25%;
    color: #888;
    font-size: 12px;
}

.user-data-column-right {
    float: left;
    width: 75%;
    font-size: 12px;
}

.user-data-row:after {
    content: "";
    display: table;
    clear: both;
}

.user-card {
    min-width: 240px;
}

/* Media Queries */
@media screen and (max-width: 1280px) {
    .user-card {
        min-width: 200px;
    } 
}
