<div class="main-content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <i class="material-icons blue-icons">contacts</i>
        <div class="page-heading">&nbsp;{{ pageTitle }}</div>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider><br/>
    <mat-card-content>
      <mat-form-field>
        <input type="text" [(ngModel)]="searchText" matInput placeholder="Filter by City Name">
      </mat-form-field>

      <div class="grid-display" *ngFor="let list of userGroup" >

      {{ list }}.
      <mat-grid-list cols="4" rowHeight="240px" class="user-data-content">
        <div *ngFor="let user of userList | search:'city':searchText">  
        <mat-grid-tile 
        *ngIf="list == user.lastName.substring(0,1)"
            [colspan]="1"
            [rowspan]="1">
            <mat-card class="user-card" >
                <a routerLink="details/{{user.id}}">
                  <img class="user-image" src="{{user.avatar}}">
                </a>
                <h4 class="user-table-heading">{{user.firstName}} {{user.lastName}}</h4>
                <mat-card-content>
              <div>
                <div class="user-data-row">
                  <div class="user-data-column-left">Phone:</div>
                  <div class="user-data-column-right">{{user.phone || "not available"}}</div>
                </div>
                <div class="user-data-row">
                  <div class="user-data-column-left">Email:</div>
                  <div class="user-data-column-right">{{user.email || "not available"}}</div>
                </div>
                <div class="user-data-row">
                  <div class="user-data-column-left">City:</div>
                  <div class="user-data-column-right">{{user.address['city'] || "not available"}}</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          </mat-grid-tile>
        </div>
        </mat-grid-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>