.page-heading {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

.blue-icons {
    color: #8e9aed;
}

.button-divider {
    color: #ddd;
}

.grid-display {
    margin-top: 10px;
}

.user-table-heading {
    font-size: 14px;
    display: inline-block;
}

.user-image {
    width: 70px;
    height: 70px;
}