<mat-toolbar color="primary">
    <mat-toolbar-row>
      <i class="material-icons">stars</i>
      <span>&nbsp;{{ companyLogo }}</span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="main-content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <i class="material-icons blue-icons">contacts</i>
        <div class="page-heading">&nbsp;{{ pageTitle }}</div>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider><br/>
    <mat-card-content>
      <mat-form-field>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="Filter by City Name">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-card-actions>
        <button mat-button color="primary">List View</button>
        <span class="button-divider">|</span>
        <button mat-button color="primary">Details View</button>
      </mat-card-actions>
      <div class="grid-display">

      A.
      <mat-grid-list cols="4" rowHeight="200px">
          <mat-grid-tile
            *ngFor="let user of users"
            [colspan]="1"
            [rowspan]="1"
            [style.background]="blue">
            <mat-card>
                <a href="#">
                  <img class="user-image" src="{{user.avatar}}">
                </a>
                <h4 class="user-table-heading">{{user.firstName}} {{user.lastName}}</h4>
                <mat-card-content>
              <div>Phone: {{user.phone}}</div>
              <div>Email: {{user.email}}</div>
              <div>City: {{user.address['city']}}</div>
            </mat-card-content>
          </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>