<mat-toolbar color="primary">
    <mat-toolbar-row>
      <i class="material-icons">stars</i>
      <span>&nbsp;{{ companyLogo }}</span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="main-content">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <i class="material-icons blue-icons">contacts</i>
        <div class="page-heading">&nbsp;{{ pageTitle }}</div>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider><br/>
    <mat-card-content>
      <mat-form-field>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="Filter by City Name">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <div class="grid-display">

      A.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">List View</button>
      <span class="button-divider">|</span>
      <button mat-button color="primary">Details View</button>
    </mat-card-actions>
  </mat-card>
</div>